@model IEnumerable<EnvironmentServer.DAL.Models.User>
@{
    ViewData["Title"] = "Users";
}
<a asp-action="Create"><i style="font-size: 30px;" class="bi bi-person-plus"></i></a>
@*<span> - </span><a asp-action="Regenerate">Regenerate config files</a><span>*@
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Department</th>
            <th>Admin</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usr in Model)
        {
            <tr>
                <td>
                    <span>@usr.ID</span>
                </td>
                <td>
                    <span>@usr.Username</span>
                </td>
                <td>
                    <span>@usr.Email</span>
                </td>
                <td>
                    <span>@usr.UserInformation.DepartmentName</span>
                </td>
                <td>
                    <span>@usr.IsAdmin</span>
                </td>
                <td>
                    <span style="@(usr.Active ? "" : "color:#FF0000; font-weight:bold;")">@usr.Active</span>
                </td>
                <td>                    
                    <a asp-action="LoginAsUser" asp-route-id="@usr.ID"><i class="bi bi-door-open"></i></a>
                    <a asp-action="Update" asp-route-id="@usr.ID"><i class="bi bi-pencil"></i></a>
                    <a asp-action="Delete" style="margin-left: 10px;" onclick="return confirm('Are you sure? This will delete the User and all Userdata! This step cannot be undone!')" asp-route-id="@usr.ID"><i style="color:#FF0000" class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>