@using EnvironmentServer.Web.Extensions
@model IEnumerable<EnvironmentServer.DAL.Models.User>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject EnvironmentServer.DAL.Database DB

@{
    ViewData["Title"] = "Users";

    var sessionUsr = HttpContextAccessor.HttpContext.Session.GetObject<EnvironmentServer.DAL.Models.User>("user");
}
<a asp-action="Create"><i style="font-size: 30px;" class="bi bi-person-plus"></i></a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Department</th>
            <th>Admin</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usr in Model)
        {
            <tr>
                <td>
                    <span>@usr.ID</span>
                </td>
                <td>
                    <span>@usr.Username</span>
                </td>
                <td>
                    <span>@usr.Email</span>
                </td>
                <td>
                    <span>@usr.UserInformation.DepartmentName</span>
                </td>
                <td>
                    <span>@usr.IsAdmin</span>
                </td>
                <td>
                    <span style="@(usr.Active ? "" : "color:#FF0000; font-weight:bold;")">@usr.Active</span>
                </td>
                <td>
                    <a asp-action="LoginAsUser" asp-route-id="@usr.ID"><i class="bi bi-door-open"></i></a>
                    <a asp-action="Permissions" style="margin-left: 10px;" asp-route-id="@usr.ID"><i class="bi bi-key"></i></a>
                    <a asp-action="Update" style="margin-left: 10px;" asp-route-id="@usr.ID"><i class="bi bi-pencil"></i></a>
                    <a style="margin-left: 10px; cursor: pointer;" onclick=@Html.Raw($"\"return AreYouSurePromt('../Users/Delete/{@usr.ID}');\"")><i style="color:#FF0000" class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>