@using Microsoft.AspNetCore.Http
@using EnvironmentServer.Web.Extensions
@inject VersionInfo VersionInfo
@inject EnvironmentServer.DAL.Database DB
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var usr = HttpContextAccessor.HttpContext.Session.GetObject<EnvironmentServer.DAL.Models.User>("user");
    var settingsEdit = usr != null && DB.Permission.HasPermission(usr, "settings_edit");
    var usersManage = usr != null && DB.Permission.HasPermission(usr, "users_manage");
    var templateManage = usr != null && DB.Permission.HasPermission(usr, "template_manage");
    var permissionsManage = usr != null && DB.Permission.HasPermission(usr, "permissions_manage");
    var dockerPermission = usr != null && DB.Permission.HasPermission(usr, "permissions_docker");
    var dockerAdminPermission = usr != null && DB.Permission.HasPermission(usr, "permissions_docker_admin");
    var viewLogs = usr != null && DB.Permission.HasPermission(usr, "logs");

    bool HasAdminPermission() => settingsEdit || usersManage || templateManage || permissionsManage || viewLogs || dockerAdminPermission;
}

<!DOCTYPE html>
<html lang="en" class="pageHeight">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopDev</title>
    <link rel="stylesheet" href="~/lib/bootstrap-dark-5/dist/css/bootstrap-night.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css?@VersionInfo.Version" />
    <link href="~/lib/FluentUI-icons/fonts/fabric.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="fullHeight">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light box-shadow mb-3" style="margin-bottom: 0 !important;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/shopdev.png" width="150" height="50" style="padding-right: 15px;" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse d-sm-inline-flex justify-content-between">
                    <span class="navbar-text">
                        <partial name="/Views/Components/Login.cshtml" model=usr />
                    </span>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="margin-bottom: 0 !important;">
            <div class="container">
                <div class="navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (dockerPermission)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Docker" asp-action="Index">Docker</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="News" asp-action="Index">News</a>
                        </li>
                        @if (HasAdminPermission())
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administration
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    @if (usersManage)
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index">User Management</a></li>
                                    }

                                    @if (templateManage)
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Template" asp-action="Index">Template Administration</a></li>
                                    }

                                    @if (settingsEdit)
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a></li>
                                    }

                                    @if (permissionsManage)
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Rights" asp-action="Roles">Manage Roles</a></li>
                                    }

                                    @if (dockerAdminPermission)
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Docker" asp-action="CreateComposerFile">Manage Composer Files</a></li>
                                    }

                                    @if (viewLogs)
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="SystemLogs" asp-action="Index">Logs</a></li>
                                    }
                                </ul>
                            </li>
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Knowledge
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li class="dropdown-item">
                                    <a class="nav-link" href="https://shopware.atlassian.net/wiki/spaces/CUS/pages/19124486371/ShopDev.de+-+Shopware+Environment+System" target="_blank" rel="noreferrer">Dokumentation for Shopdev</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" href="https://shopware.atlassian.net/wiki/spaces/CORE/pages/18720195126/Testdaten+Payment+Schnittstellen" target="_blank" rel="noreferrer">Payment Interfaces</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" href="https://www.youtube.com/channel/UC-xCvUIPOXx6o4ZydnwIsng" target="_blank" rel="noreferrer">Shopware Knowledge YouTube</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" href="https://docs.shopware.com/" target="_blank" rel="noreferrer">Shopware Docs</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Pma">PhpMyAdmin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="MailHog">MailHog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://github.com/Fewiel/EnvironmentServer/issues">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mailto:p.weitkamp@shopware.com">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container footer-fix">
        @{
            var msgs = TempData.Get<List<Message>>("messages");
        }
        @if (msgs != null)
        {
            <div class="row">
                @foreach (var msg in msgs)
                {
                    <div class="alert @msg.Class">@msg.Content</div>
                }
            </div>
        }
        <main role="main" class="pb-3 fullHeight no-scrollbars">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="display: flex; justify-content: space-between;">
            <div>
                &copy; 2022 - EnvironmentServer - <a href="https://github.com/Fewiel/EnvironmentServer">GitHub</a>
            </div>
            <div>
                <span class="badge rounded-pill bg-light text-dark">Current Workload: @DB.Performance.GetQueue() Tasks</span>
            </div>
        </div>
    </footer>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@5/dark.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-dark-5/dist/js/darkmode.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
