@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using EnvironmentServer.Web.Extensions
@model EnvironmentServer.Web.ViewModels.Home.DashboardModel
@inject EnvironmentServer.DAL.Database DB

@{
    ViewData["Title"] = "Home Page";
    var usr = HttpContextAccessor.HttpContext.Session.GetObject<EnvironmentServer.DAL.Models.User>("user");
}

@if (Model.PerformanceData != null)
{
    <div class="row row-cols-md-4" style="margin-top: 15px; text-align: center;">
        <div class="col-md-6 px-1">
            <div class="card mb-2 align-middle d-flex align-content-center" style="height: 200px; padding: 5px;">
                <h3>Admin Dashboard</h3>
                <p class="card-text">CPU usage: @Model.PerformanceData["cpu"]%</p>
                <p class="card-text">Memory usage: @Model.PerformanceData["memory"]%</p>
                <p class="card-text">Free disk space: @Model.PerformanceData["diskspace"] GiB / @Model.PerformanceData["disksize"] GiB</p>
            </div>
        </div>
        <div class="col-md-6 px-1">
            <div class="card mb-2 align-middle d-flex align-content-center" style="height: 200px; padding: 5px;">
                <h3>Statistics</h3>
                <p class="card-text">Environments: @Model.EnvironmentCount</p>
                <p class="card-text">Stored Environments: @Model.StoredCount</p>
                <p class="card-text">Users: @Model.UserCount</p>
                <p class="card-text">Worker Queue: @Model.Queue</p>
            </div>
        </div>
    </div>
}

<div class="alert alert-primary">NEW! MailHog Installed: Use Host: localhost Port: 1025 for SMTP Settings! Click on "MailHog" in the menu to see your mails.</div>

<div class="row row-cols-md-4" style="margin-top: 15px; text-align: center;">

    @foreach (var e in Model.Environments)
    {
        <partial name="/Views/Components/EnvironmentCard.cshtml" model=e />
    }

    @if (DB.Permission.HasPermission(usr, "environment_create"))
    {
        <div class="col-md-4 px-1">
            <div class="card mb-2 align-middle d-flex align-content-center hovercard" style="height: 97%;">
                <a asp-controller="EnvSetup" asp-action="BaseData" class="text-decoration-none text-body fullHeight justify-content-center d-flex">
                    <i class="bi bi-plus-lg align-self-center" style="font-size: 50px"></i>
                </a>
            </div>
        </div>
    }
</div>