@model EnvironmentServer.Web.Models.DockerContainerData


<div class="col-md-4 px-1">
    <div class="card mb-2 hovercard" style="min-height: 200px;">
        <div class="card-body" style="padding: 5px; min-height: 168px;">
            <div style="display: grid; grid-template-areas: 'logo name' 'logo buttons' 'pills pills'; grid-template-rows: 62px 38px auto; grid-template-columns: 100px auto;">
                <div style="grid-area: logo;">
                    <img src="~/img/docker.svg" width="100" height="100" style="padding-right: 15px;" />
                </div>
                <div title="@Model.Container.Name" style="grid-area: name; margin-bottom: 10px; overflow: hidden;">
                    <h5 class="card-title">@Model.Container.Name</h5>
                    <h5 class="card-title">@Model.Container.DockerID[..10]</h5>
                </div>
                <div style="grid-area: buttons; width: 100%;">
                    <div class="btn-group" role="group" style="width: 100%;" ;>
                        @if (Model.Container.Active)
                        {
                            <a class="btn btn-primary me-auto" asp-controller="Docker" asp-action="Start" asp-route-id=@Model.Container.ID target="_blank">Start</a>
                        }
                        else
                        {
                            <a class="btn btn-primary me-auto" asp-controller="Docker" asp-action="Start" asp-route-id=@Model.Container.ID target="_blank">Stop</a>
                        }

                        <a class="btn btn-primary" asp-controller="Docker" asp-action="Delete" asp-route-id=@Model.Container.ID target="_blank">Delete</a>
                    </div>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@Model.Container.ID">
                        Show Port Mapping
                    </button>

                    <div class="modal fade" id="@Model.Container.ID" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Port Mapping for @Model.Container.Name</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @foreach (var p in Model.ContainerPorts)
                                    {
                                        @p.Name <span> - </span> @p.Port <br />
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>