@model EnvironmentServer.Web.ViewModels.Docker.DockerCardViewModel


<div class="col-md-4 px-1">
    <div class="card mb-2 hovercard" style="min-height: 200px;">
        <div class="card-body" style="padding: 5px; min-height: 168px;">
            <div style="display: grid; grid-template-areas: 'logo name' 'logo buttons' 'pills pills'; grid-template-rows: 62px 38px auto; grid-template-columns: 100px auto;">
                <div style="grid-area: logo;">
                    <img src="~/img/docker.svg" width="100" height="100" style="padding-right: 15px;" />
                </div>
                <div title="@Model.Data.Container.Name" style="grid-area: name; margin-bottom: 10px; overflow: hidden;">
                    <h5 class="card-title">@Model.Data.Container.Name</h5>
                    @if (!string.IsNullOrEmpty(Model.Data.Container.DockerID))
                    {
                        <h5 class="card-title">@Model.Data.Container.DockerID[..12]</h5>
                    }
                </div>
                <div style="grid-area: buttons; width: 100%;">
                    <div class="btn-group" role="group" style="width: 100%;" ;>
                        @if (Model.Data.Container.DockerID != "in startup...")
                        {
                            @if (!Model.Data.Container.Active)
                            {
                                <a class="btn btn-primary me-auto" asp-controller="Docker" asp-action="Start" asp-route-id=@Model.Data.Container.ID>Start</a>
                            }
                            else
                            {
                                <a class="btn btn-primary me-auto" asp-controller="Docker" asp-action="Start" asp-route-id=@Model.Data.Container.ID>Stop</a>
                            }
                            <a class="btn btn-primary" asp-controller="Docker" asp-action="Delete" asp-route-id=@Model.Data.Container.ID>Delete</a>
                        } 
                        else
                        {                            
                            <a class="btn btn-primary me-auto disabled" asp-controller="Docker" asp-action="Start" asp-route-id=@Model.Data.Container.ID>Start</a>
                            <a class="btn btn-primary disabled" asp-controller="Docker" asp-action="Delete" asp-route-id=@Model.Data.Container.ID>Delete</a>
                        }
                    </div>

                    @foreach (var p in Model.Data.ContainerPorts)
                    {
                        @if(p.Name == "http")
                        {
                            var link = $"https://web-container-{@Model.Data.Container.ID}.{@Model.Domain}";
                            <a href="@link" target="_blank">http (Link)</a>
                        }
                        else
                        {
                            @p.Name                            
                        }                        

                        <span>: </span>

                        @p.Port

                        <span>,</span>
                    }

                </div>
            </div>
        </div>
    </div>
</div>