@using EnvironmentServer.DAL.Enums
@using EnvironmentServer.Web.Extensions
@using Microsoft.AspNetCore.Http
@model EnvironmentServer.DAL.Models.Environment
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject EnvironmentServer.DAL.Database DB
<link href="~/css/environmentcard.css" rel="stylesheet" type="text/css" />
@{
    var usr = HttpContextAccessor.HttpContext.Session.GetObject<EnvironmentServer.DAL.Models.User>("user");

    var envVersion = Model.Settings.Find(s => s.EnvironmentSetting.Property == "sw_version");
    var sw_version = envVersion == null ? "N/A" : envVersion.Value;

    var task = Model.Settings.Find(s => s.EnvironmentSetting.Property == "task");
    var taskRunning = task == null ? false : bool.Parse(task.Value);
}

<div class="col-md-4 px-1">
    <div class="card mb-2 hovercard" style="min-height: 200px;">
        <div class="card-body" style="padding: 5px; min-height: 168px;">
            <div style="display: grid; grid-template-areas: 'logo name' 'logo buttons' 'pills pills'; grid-template-rows: 62px 38px auto; grid-template-columns: 100px auto;">
                <div style="grid-area: logo;">
                    @if (sw_version[0] == '5')
                    {
                        <img src="~/img/sw5-signet.svg" width="100" height="100" style="padding-right: 15px;" />
                    }
                    else if (sw_version[0] == '6')
                    {
                        <img src="~/img/sw6-signet.svg" width="100" height="100" style="padding-right: 15px;" />
                    }
                    else
                    {
                        <i style="padding-right: 10px; line-height: 0px; font-size: 90px; color: #007eda;" class="bi bi-gear"></i>
                    }
                </div>
                <div title="@Model.DisplayName" style="grid-area: name; margin-bottom: 10px; overflow: hidden;">
                    <h5 class="card-title">@Model.DisplayName</h5>
                </div>
                <div style="grid-area: buttons; width: 100%;">
                    <div class="btn-group" role="group" style="width: 100%;" ;>
                        <a class="btn btn-primary me-auto" asp-controller="Env" asp-action="OpenFrontend" asp-route-id=@Model.ID target="_blank">Frontend</a>
                        <a class="btn btn-primary" asp-controller="Env" asp-action="OpenBackend" asp-route-id=@Model.ID target="_blank">Admin</a>
                    </div>
                </div>
                <div style="grid-area: pills; margin-top: 10px; text-align: left;">
                    <span class="badge rounded-pill bg-primary">Shopware Version: @sw_version</span>
                    <span class="badge rounded-pill bg-secondary">@Model.Version.AsString()</span>
                    @if (Model.Stored)
                    {
                        <span class="badge rounded-pill bg-info">Stored</span>
                    }
                    @if (Model.Permanent)
                    {
                        <span class="badge rounded-pill bg-info">Permanent</span>
                    }
                    @if (taskRunning)
                    {
                        <span class="badge rounded-pill bg-danger">Task Running</span>
                    }
                    @if (sw_version[0] == '6')
                    {
                        if (Model.DevelopmentMode)
                        {
                            <span class="badge rounded-pill bg-warning text-dark">APP_Env="Dev"</span>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="button-container">
            <div class="icon-button">
                <a class="icon-link" asp-controller="Env" asp-action="Update" asp-route-id="@Model.ID">
                    <div class="icontooltip">
                        <i class="ms-Icon ms-Icon--Settings" aria-hidden="true"></i>
                        <span class="icontooltiptext">Edit</span>
                    </div>
                </a>
            </div>
            <div class="icon-button">
                <a class="icon-link" asp-controller="Env" asp-action="Sorting">
                    <div class="icontooltip">
                        <i class="ms-Icon ms-Icon--Sort" aria-hidden="true"></i>
                        <span class="icontooltiptext">Sorting</span>
                    </div>
                </a>
            </div>
            <div class="icon-button">
                <a class="icon-link" href="#" onclick="CopyToClipboard('@(usr.Username + "_" + @Model.InternalName)');return false;">
                    <div class="icontooltip">
                        <i class="ms-Icon ms-Icon--FabricUserFolder" aria-hidden="true"></i>
                        <span class="icontooltiptext">Copy DB-User</span>
                    </div>
                </a>
            </div>
            <div class="icon-button">
                <a class="icon-link" href="#" onclick="CopyToClipboard('@Model.DBPassword');return false;">
                    <div class="icontooltip">
                        <i class="ms-Icon ms-Icon--AccessLogo" aria-hidden="true"></i>
                        <span class="icontooltiptext">Copy DB-Password</span>
                    </div>
                </a>
            </div>
            <div class="icon-button">
                <a class="icon-link" asp-controller="Snapshot" asp-action="Create" asp-route-id=@Model.ID>
                    <div class="icontooltip">
                        <i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i>
                        <span class="icontooltiptext">Create Snapshot</span>
                    </div>
                </a>
            </div>
            <div class="icon-button">
                <a class="icon-link" asp-controller="Snapshot" asp-route-id=@Model.ID>
                    <div class="icontooltip">
                        <i class="ms-Icon ms-Icon--ProductList" aria-hidden="true"></i>
                        <span class="icontooltiptext">Show Snapshot</span>
                    </div>
                </a>
            </div>
            <div class="icon-button">
                @if (DB.Permission.HasPermission(usr, "templates_create"))
                {
                    <a class="icon-link" asp-controller="Template" asp-action="Create" asp-route-id=@Model.ID>
                        <div class="icontooltip">
                            <i class="ms-Icon ms-Icon--Archive" aria-hidden="true"></i>
                            <span class="icontooltiptext">Create Template</span>
                        </div>
                    </a>
                }
            </div>
            <div class="icon-button">
                @if (sw_version[0] == '6')
                {
                    <a class="icon-link" asp-controller="Env" asp-action="Development" asp-route-id=@Model.ID>
                        <div class="icontooltip">
                            <i class="ms-Icon ms-Icon--DeveloperTools" aria-hidden="true"></i>
                            <span class="icontooltiptext">Dev Mode</span>
                        </div>
                    </a>
                }
            </div>
            <div class="icon-button">
                <a class="icon-link" asp-controller="Env" asp-action="ChangePerma" asp-route-id=@Model.ID>
                    <div class="icontooltip">
                        <i class="ms-Icon ms-Icon--TimelineProgress" aria-hidden="true"></i>
                        <span class="icontooltiptext">Set/Unset Permanent</span>
                    </div>
                </a>
            </div>
            <div class="icon-button">
                <a class="icon-link" style="cursor: pointer;" onclick=@Html.Raw($"\"return AreYouSurePromt('../Env/Delete/{@Model.ID}');\"")>
                    <div class="icontooltip">
                        <i class="ms-Icon ms-Icon--Delete" aria-hidden="true"></i>
                        <span class="icontooltiptext">Delete</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>