@using EnvironmentServer.DAL.Enums
@using EnvironmentServer.Web.Extensions
@using Microsoft.AspNetCore.Http
@model EnvironmentServer.DAL.Models.Environment
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject EnvironmentServer.DAL.Database DB

@{
    var usr = HttpContextAccessor.HttpContext.Session.GetObject<EnvironmentServer.DAL.Models.User>("user");

    var envVersion = Model.Settings.Find(s => s.EnvironmentSetting.Property == "sw_version");
    var sw_version = envVersion == null ? "N/A" : envVersion.Value;

    var task = Model.Settings.Find(s => s.EnvironmentSetting.Property == "task");
    var taskRunning = task == null ? false : bool.Parse(task.Value);
}
<link
  rel="stylesheet"
  href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css"
/>
<div class="col-md-3 px-1">
    <div class="card mb-2 hovercard" style="min-height: 200px;">
        <div class="card-body" style="padding: 5px;">
            <div style="display: grid; grid-template-areas: 'logo name' 'logo buttons' 'pills pills'; grid-template-rows: 62px 38px auto; grid-template-columns: 100px auto;">
                <div style="grid-area: logo;">
                    @if (sw_version[0] == '5')
                    {
                        <img src="~/img/sw5-signet.svg" width="100" height="100" style="padding-right: 15px;" />
                    }
                    else if (sw_version[0] == '6')
                    {
                        <img src="~/img/sw6-signet.svg" width="100" height="100" style="padding-right: 15px;" />
                    }
                    else
                    {
                        <i style="padding-right: 10px; line-height: 0px; font-size: 90px; color: #007eda;" class="bi bi-gear"></i>
                    }
                </div>
                <div title="@Model.DisplayName" style="grid-area: name; margin-bottom: 10px; overflow: hidden;">
                    <h5 class="card-title">@Model.DisplayName</h5>
                </div>
                <div style="grid-area: buttons; width: 100%;">
                    <div class="btn-group" role="group" style="width: 100%;" ;>
                        <a class="btn btn-primary me-auto" asp-controller="Env" asp-action="OpenFrontend" asp-route-id=@Model.ID target="_blank">Frontend</a>
                        <a class="btn btn-primary" asp-controller="Env" asp-action="OpenBackend" asp-route-id=@Model.ID target="_blank">Admin</a>
                    </div>
                </div>
                <div style="grid-area: pills; margin-top: 10px;">
                    <span class="badge rounded-pill bg-primary">Shopware Version: @sw_version</span>
                    <span class="badge rounded-pill bg-secondary">@Model.Version.AsString()</span>
                    @if (Model.Stored)
                    {
                        <span class="badge rounded-pill bg-info">Stored</span>
                    }
                    @if (Model.Permanent)
                    {
                        <span class="badge rounded-pill bg-info">Permanent</span>
                    }
                    @if (taskRunning)
                    {
                        <span class="badge rounded-pill bg-danger">Task Running</span>
                    }
                    @if (sw_version[0] == '6')
                    {
                        if (Model.DevelopmentMode)
                        {
                            <span class="badge rounded-pill bg-warning text-dark">APP_Env="Dev"</span>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="button-container">
            <div class="icon-button">
                <a class="dropdown-item" asp-controller="Env" asp-action="Update" asp-route-id="@Model.ID">
                    <span class="icotooltip" data-tooltip="Edit"><i class="ms-Icon ms-Icon--Settings" aria-hidden="true"></i></span>
                </a>
            </div>
            <div class="icon-button">
                <a class="dropdown-item" asp-controller="Env" asp-action="Sorting">
                    <span class="icotooltip" data-tooltip="Sorting"><i class="ms-Icon ms-Icon--Sort" aria-hidden="true"></i></span>
                </a>
             </div>
            <div class="icon-button">
                <a class="dropdown-item" href="#" onclick="CopyToClipboard('@(usr.Username + "_" + @Model.InternalName)');return false;">
                    <span class="icotooltip" data-tooltip="Copy DB-User"><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                </a>
             </div>
            <div class="icon-button">
                <a class="dropdown-item" href="#" onclick="CopyToClipboard('@Model.DBPassword');return false;">Copy DB-Password</a>
             </div>
            <div class="icon-button">
                <a class="dropdown-item" asp-controller="Snapshot" asp-action="Create" asp-route-id=@Model.ID>Create Snapshot</a>
             </div>
            <div class="icon-button">
                <a class="dropdown-item" asp-controller="Snapshot" asp-route-id=@Model.ID>Show Snapshots</a>
            </div>
            <div class="icon-button">
                @if(DB.Permission.HasPermission(usr, "templates_create"))
                {
                <a class="dropdown-item" asp-controller="Template" asp-action="Create" asp-route-id=@Model.ID>Create Template</a>
                }  
            </div>
            <div class="icon-button">
                @if (sw_version[0] == '6')
                {
                <a class="dropdown-item" asp-controller="Env" asp-action="Development" asp-route-id=@Model.ID>@(Model.DevelopmentMode ? "Disable" : "Enable") Dev Mode</a>
                }
            </div>
            <div class="icon-button">
                <a class="dropdown-item" asp-controller="Env" asp-action="ChangePerma" asp-route-id=@Model.ID>Set/Unset Permanent</a>
            </div>
            <div class="icon-button">
                <a class="dropdown-item" onclick="return confirm('Are you sure to delete your Environment?')" asp-controller="Env" asp-action="Delete" asp-route-id=@Model.ID>Delete</a>
            </div>
        </div>
    </div>
</div>

<style>
.button-container {
    max-width: 100%;
    border-top: 2px dotted grey;
    margin-top: 10px;
}
.icon-button {
    width: 24%;
    float: left;

}
.icotooltip {
  position:relative;
  background-color:rgba(0,0,0,.5);
  width:25px;
  height:25px;
  border-radius:50%;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  font-size: .9rem;
  cursor:help;
  &::before,
  &::after {
    opacity:0;
    visibility:hidden;
    position:absolute;
    left:50%;
    top:-20px;
    transition: all .25s ease;
  }
  &::before {
    content: '';
    border-width:8px 5px 0 5px;
    border-style:solid;
    border-color:rgba(0,0,0,.3) transparent transparent transparent;
    margin-left:-5px;
  }
  &::after {
    content: attr(data-tooltip);
    transform:translate(-50%, -100%);
    font-size:.75rem;
    letter-spacing:1px;
    color:#eaeaea;
    background-color:black;
    padding:.5rem;
    border-radius:5px;
    min-width:315px;
  }
  &:hover {
    &::before,
    &::after {
      opacity:1;
      visibility:visible;
    }
  }
}
</style>
