@using EnvironmentServer.DAL.Enums
@using EnvironmentServer.Web.Extensions
@using Microsoft.AspNetCore.Http
@model EnvironmentServer.DAL.Models.Environment
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var usr = HttpContextAccessor.HttpContext.Session.GetObject<EnvironmentServer.DAL.Models.User>("user");
}

@{
    var envVersion = Model.Settings.Find(s => s.EnvironmentSetting.Property == "sw_version");
    var sw_version = envVersion == null ? "N/A" : envVersion.Value;

    var task = Model.Settings.Find(s => s.EnvironmentSetting.Property == "task");
    var taskRunning = task == null ? false : bool.Parse(task.Value);
}

<div class="col-md-3 px-1">
    <div class="card mb-2 hovercard" style="min-height: 200px;">
        <div class="card-body" style="padding: 5px;">
            <div style="display: grid; grid-template-areas: 'logo name' 'logo buttons' 'pills pills'; grid-template-rows: 62px 38px auto; grid-template-columns: 100px auto;">
                <div style="grid-area: logo;">
                    @if (sw_version[0] == '5')
                    {
                        <img src="~/img/sw5-signet.svg" width="100" height="100" style="padding-right: 15px;" />
                    }
                    else if (sw_version[0] == '6')
                    {
                        <img src="~/img/sw6-signet.svg" width="100" height="100" style="padding-right: 15px;" />
                    }
                    else
                    {
                        <i style="padding-right: 10px; line-height: 0px; font-size: 90px; color: #007eda;" class="bi bi-gear"></i>
                    }
                </div>
                <div title="@Model.DisplayName" style="grid-area: name; margin-bottom: 10px; overflow: hidden;">
                    <h5 class="card-title">@Model.DisplayName</h5>
                </div>
                <div style="grid-area: buttons; width: 100%;">
                    <div class="btn-group" role="group" style="width: 100%;" ;>

                        <a class="btn btn-primary me-auto" asp-controller="Env" asp-action="OpenFrontend" asp-route-id=@Model.ID target="_blank">Frontend</a>

                        <a class="btn btn-primary" asp-controller="Env" asp-action="OpenBackend" asp-route-id=@Model.ID target="_blank">Admin</a>

                        <div class="btn-group" role="group">
                            <button id="btnMore" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-hide" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" asp-controller="Env" asp-action="Update" asp-route-id="@Model.ID">Edit</a></li>
                                <li><a class="dropdown-item" asp-controller="Env" asp-action="Sorting">Sorting</a></li>
                                <li><a class="dropdown-item" href="#" onclick="CopyToClipboard('@(usr.Username + "_" + @Model.InternalName)');return false;">Copy DB-User</a></li>
                                <li><a class="dropdown-item" href="#" onclick="CopyToClipboard('@Model.DBPassword');return false;">Copy DB-Password</a></li>
                                <li><a class="dropdown-item" asp-controller="Snapshot" asp-action="Create" asp-route-id=@Model.ID>Create Snapshot</a></li>
                                <li><a class="dropdown-item" asp-controller="Snapshot" asp-route-id=@Model.ID>Show Snapshots</a></li>
                                <li><a class="dropdown-item" onclick="return confirm('Are you sure to delete your Environment?')" asp-controller="Env" asp-action="Delete" asp-route-id=@Model.ID>Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="grid-area: pills; margin-top: 10px;">
                    <span class="badge rounded-pill bg-primary">Shopware Version: @sw_version</span>
                    <span class="badge rounded-pill bg-secondary">@Model.Version.AsString()</span>
                    @if (Model.Stored)
                    {
                        <span class="badge rounded-pill bg-info">Stored</span>
                    }
                    @if (taskRunning)
                    {
                        <span class="badge rounded-pill bg-danger">Task Running</span>
                    }                    
                </div>
            </div>
        </div>
    </div>
</div>