@using EnvironmentServer.Web.ViewModels.EnvSetup
@model EnvSetupViewModel
@{
    ViewData["Title"] = "Finalize - Environment Setup";
}
<div class="d-flex align-items-center justify-content-center fullHeight" style="flex-direction: column;">
    <form method="post" asp-action="Create" style="width: 800px;">
        <input type="hidden" asp-for="InternalName" />
        <input type="hidden" asp-for="DisplayName" />
        <input type="hidden" asp-for="CustomSetupType" />
        <input type="hidden" asp-for="WgetURL" />
        <input type="hidden" asp-for="GitURL" />
        <input type="hidden" asp-for="MajorShopwareVersion" />
        <input type="hidden" asp-for="ShopwareVersion" />
        <input type="hidden" asp-for="ShopwareVersionDownload" />
        <input type="hidden" asp-for="ExhibitionFile" />
        <input type="hidden" asp-for="PhpVersion" />
        <input type="hidden" asp-for="TemplateID" />

        <dl class="row">
            <dt class="col-sm-6">Environment Name</dt>
            <dd class="col-sm-6">@Model.DisplayName</dd>

            <dt class="col-sm-6">Environment Domain</dt>
            <dd class="col-sm-6">@Model.InternalName</dd>

            <dt class="col-sm-6">Download Link</dt>
            <dd class="col-sm-6">@Model.WgetURL</dd>

            <dt class="col-sm-6">Git URL</dt>
            <dd class="col-sm-6">@Model.GitURL</dd>

            <dt class="col-sm-6">Exhibition File</dt>
            <dd class="col-sm-6">@Model.ExhibitionFile</dd>

            <dt class="col-sm-6">Major Version</dt>
            <dd class="col-sm-6">@Model.MajorShopwareVersion</dd>

            <dt class="col-sm-6">Version</dt>
            <dd class="col-sm-6">@Model.ShopwareVersion</dd>

            @if (Model.TemplateID != 0)
            {
                <dt class="col-sm-6">Template ID</dt>
                <dd class="col-sm-6">@Model.TemplateID</dd>
            }

            <dt class="col-sm-6">Php Version</dt>
            <dd class="col-sm-6">@Model.PhpVersion</dd>
        </dl>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>

    @if (Model.TemplateID == 0 && Model.CustomSetupType != "empty")
    {
        <form method="post" asp-action="CreateWithAutoinstaller" style="width: 800px;">
            <input type="hidden" asp-for="InternalName" />
            <input type="hidden" asp-for="DisplayName" />
            <input type="hidden" asp-for="WgetURL" />
            <input type="hidden" asp-for="GitURL" />
            <input type="hidden" asp-for="MajorShopwareVersion" />
            <input type="hidden" asp-for="ShopwareVersion" />
            <input type="hidden" asp-for="ShopwareVersionDownload" />
            <input type="hidden" asp-for="ExhibitionFile" />
            <input type="hidden" asp-for="PhpVersion" />
            <input type="hidden" asp-for="TemplateID" />
            <input type="hidden" asp-for="WebRoutePath" />

            <h4>or</h4>
            <br />
            <div class="alert alert-danger">Older Versions are not Supported! (Automatic installations of versions below 6.4.7.0 and 5.7.6. may fail!)</div>
            <button type="submit" onclick="return confirm('Please keep in mind. Automatic installations of versions below 6.4.7.0 and 5.7.6. may fail!')" class="btn btn-danger">Create with Autoinstallation</button>
        </form>
        <br />

        <div class="alert alert-info">
            New Login Information for Autoinstallations!<br /> <br />
            User: admin<br />
            Password: shopware<br />
        </div>
    }
</div>