@using EnvironmentServer.Web.ViewModels.EnvSetup
@model EnvSetupViewModel
@{
    ViewData["Title"] = "Minor Version - Environment Setup";
}
<div class="accordion-item">
        <div class="row">
            <div class="col-11">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse">
                        ▼ Current Trunk
                    </button>
                </h2>
                <form method="post" asp-action="PhpVersion">
                    <input type="hidden" asp-for="InternalName" />
                    <input type="hidden" asp-for="DisplayName" />
                    <input type="hidden" asp-for="MajorShopwareVersion" />
                    <input type="hidden" asp-for="ShopwareVersion" value=trunk />
                    <input type="hidden" asp-for="ShopwareVersionDownload" value="trunk" />
                    <button class="btn btn-primary"
                            type="submit" style="height: calc(100% - 10px); width: calc(100% - 10px); margin: 5px;">
                        Select trunk
                    </button>
                </form>
            </div>
        </div>
    </div>

<div class="accordion" id="swversions">
    @{
        var i = 0;
    }
    @foreach (var v in @Model.ShopwareVersions)
    {
        <div class="accordion-item">
            <div class="row">
                <div class="col-11">
                    <h2 class="accordion-header" id="h-@i">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-@i">
                            ▼ @v.Version @(string.IsNullOrEmpty(v.VersionText) ? "" : "- " + v.VersionText)
                            @(v.Public == 1 ? "" : "- NOT PUBLIC - For testing purposes only")
                        </button>
                    </h2>
                </div>
                <div class="col-1">
                    <form method="post" asp-action="PhpVersion">
                        <input type="hidden" asp-for="InternalName" />
                        <input type="hidden" asp-for="DisplayName" />
                        <input type="hidden" asp-for="MajorShopwareVersion" />
                        <input type="hidden" asp-for="ShopwareVersion" value=@v.Version />
                        <input type="hidden" asp-for="ShopwareVersionDownload" value=@v.DownloadLinkInstall />
                        <button class="btn @(v.Public == 1 ? "btn-primary" : "btn-warning")"
                            type="submit" style="height: calc(100% - 10px); width: calc(100% - 10px); margin: 5px;">
                            Select
                        </button>
                    </form>
                </div>
            </div>
            <div class="accordion-collapse collapse" id="c-@i" data-bs-parent="#swversions">
                <div class="accordion-body">
                    @Html.Raw(v.ImportantChanges)
                    <br /><br />
                    @Html.Raw(v.Changelog)
                </div>
            </div>
        </div>
        i++;
    }
</div>
